<div class="about">
  <div class="content">
    <h1><span>01.</span> About Me</h1>

    <p>
      Hey again, I go by the name Gerald and I enjoy building for the internet.
      My primary focus is working on Fast, Responsive and Intuitive
      Applications.
    </p>
    <p>
      I am eager to exercise my industry experience to gain more technical
      skills in a challenging work environment while contributing to meet
      deadlines and produce deliverables expected of me. I enjoy working with
      and being part of a successful productive team, but also thrive in
      individual projects. I aim to make meaningful contribution to the
      organization success when given an opportunity
    </p>
  </div>
</div>
