<div class="about">
  <div class="content">
    <div class="wrapper">
      <div class="description">
        <h1><span>01</span>About Me</h1>
        <p>
          Hey, I am Gerald Mpyana and I'm a software developer, I build
          applications for Desktop and the Web :)
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam
          tempore, pariatur sequi vitae voluptatum dignissimos corporis libero
          modi error, consequatur qui, architecto quaerat perferendis cum sit!
          Pariatur laborum ea inventore.
        </p>

      </div>

      <div class="image">
        <img src="../../../assets/Image.png" alt="A memoji of me" />
      </div>
    </div>
  </div>
  <h3>Here's some of the technolgies I play around with</h3>
  <div class="skill">
    <ul>
      <li>React</li>
      <li>Angular</li>
      <li>Blade</li>
      <li>Razor</li>
      <li>EJS</li>
    </ul>

    <ul>
      <li>C# -> ASP.NET CORE</li>
      <li>PHP -> Laravel</li>
      <li>Javascript-> EspressJs</li>
    </ul>

    <ul>
      <li>SQL</li>
      <li>MongoDB</li>
      <li>Firebase</li>
    </ul>
    <ul>
      <li>AZURE</li>
      <li>DOCKER</li>
    </ul>
  </div>
</div>
